.container{
	margin:0;
	padding:0;
	display:flex;
	flex-direction:column;
	align-items:center;
}
.inner{
	 margin-top: 13%;
    margin-left: 15% !important;
	background-color: black;
	width:60%;
	border:1px solid white;
	border-radius:3%;
	padding-bottom:5%;
background: #0cebeb;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #29ffc6, #20e3b2, #0cebeb);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #29ffc6, #20e3b2, #0cebeb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

box-shadow: 10px 10px 10px 10px;
}

.login-text{
	font-size:5em;
	color:white;
	margin-left:0%;
	font-family: 'Roboto Condensed', sans-serif;
}

.btns{
	margin-top:0px;
	display:flex;
	flex-direction:column;
	align-items:center;
	font-family: 'Roboto Condensed', sans-serif;

}
#google{
	margin-left:0px;
	margin-top:6%;
	color:white;
	align-self:stretch;
	font-family: 'Roboto Condensed', sans-serif;
}
#email{
	margin-left:0px;
	color:white;
	align-self:stretch;
	font-family: 'Roboto Condensed', sans-serif;
}